<!-- Banner Section -->
    <section class="banner-section">
		<div class="banner-carousel love-carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
			{% for slide in settings[locale].sliders %}
			<!-- Slide Item -->
			<div class="slide-item">
				<div class="image-layer lazy-image" data-bg="url('{{slide.image}}')"></div>
				<div class="auto-container">
					<div class="content-box">
						<h2>{{slide.title}}</h2>
						<div class="text">{{slide.quote}}</div>
						<div class="btn-box"><a href="{{slide.url}}" class="theme-btn btn-style-one"><span class="btn-title">{{ 'read more' | i18n }}</span></a></div>
					</div>  
				</div>
			</div>

			{% endfor %}

		</div>
    </section>
    <!--End Banner Section -->
